body {
    background-color:#53485b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text {
    color:rgb(255, 255, 255);
}
h2,h3,h4,h1 {
    color:rgb(255, 255, 255);
}
.btn-group {
    background: color #e5c2ea;;
}
.jumbotron {
    background-color:#938096;
}
a {
    color: white;
}
.meme {
    float:right;
}
.clear {
    clear:both;
}
